{{define "login"}}
<form id="loginform" method="get">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <span id="usernameValidation" style="color:red"> </span>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <span id="passwordValidation" style="color:red"> </span>
  </div>
  <div>
    <input type="submit" id="loginsubmitbutton" value="Login">
  </div>
</form>
{{end}}